body {
  font-family: "Yandex Sans Text Regular", "Arial";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

ul.mainmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f5f5f5;
  height: 50px;
}

li a {
  font-size: x-large;
  float: left;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  height: 34px;
}

li a.user {
  font-size: x-large;
  float: right;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  height: 34px;
}

li.user {
  font-size: x-large;
  float: right;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  height: 34px;
}

li a.active {
  background-color: #4caf50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* td a.intable {
  float: left;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  height: 34px;
} */

/* td a:hover:not(.active) {
  background-color: #555;
  color: white;
} */

.btn {
  font-size: large;
  float: left;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #000;
}
.btn:hover {
  background-color: #555;
  color: white;
}

div.content {
  margin: 12px;
  padding: 8px;
  width: 70%;
}

div.img1 {
  width: 100%;
  text-align: center;
}

label.search {
  font-size: medium;
  margin: 12px;
  padding: 8px;
}

input.pid {
  width: 40px;
}

input.shop {
  width: 200px;
}

table {
  width: 40%;
  background: #4caf50;
  border-spacing: 0 2px;
}

th {
  background-color: #f5f5f5;
  padding: 10px 20px;
  border: 1px solid grey;
}
td {
  background-color: #f5f5f5;
  border: 1px solid grey;
  padding: 1px 10px;
}

P {
  line-height: 1.5em;
}

.flash {
  padding: 10px;
}

.flash.success {
  border: 1px solid #21db56;
  background: #aeffc5;
  border-radius: 6px;
}

.flash.error {
  border: 1px solid #ff4343;
  background: #ff9c9c;
  border-radius: 6px;
}

.flash.wrongpass {
  border: 1px solid #f7de00;
  background: #fff8bb;
  border-radius: 6px;
}

div.login {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
form.login {
  background-color: #f5f5f5;
  width: 320px;
  border: 2px solid;
  border-color: #4caf50;
  border-radius: 10px;
  margin: 0 auto;
}
input[type="text"] {
  border: 2px solid #4caf50;
  border-radius: 4px;
  font-size: medium;
}

input[type="password"] {
  border: 2px solid #4caf50;
  border-radius: 4px;
  font-size: medium;
}

input[type="submit"] {
  font-size: medium;
}

input[type="file"] {
  font-size: medium;
}
