<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css')}}"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/icon.png')}}"
    />
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    <meta charset="UTF-8" />

    <title>Zabbix Actualization Service</title>
  </head>

  <body>
    <header>
      <nav>
        <ul class="mainmenu">
          <li>
            <a class="{{class1}}" href="{{ url_for('index')}}">Главная</a>
          </li>
          <li>
            <a class="{{class2}}" href="{{ url_for('management')}}"
              >Управление</a
            >
          </li>
          <li>
            <a class="{{class3}}" href="{{ url_for('ws')}}">Данные WS</a>
          </li>
          <li>
            <a class="{{class4}}" href="{{ url_for('radius')}}">RADIUS</a>
          </li>
          <li>
            <a class="{{class5}}" href="{{ url_for('users')}}">Пользователи</a>
          </li>
          <li>
            <a class="{{class6}}" href="{{ url_for('about')}}">О приложении</a>
          </li>
          <li><a class="user" href="{{ url_for('logout')}}">Выйти</a></li>
          <li class="user">{{ login }}</li>
        </ul>
      </nav>
    </header>
    <div class="content">{% block content -%} {% endblock %}</div>
  </body>
</html>
