{% extends 'management.html' %} {% block content %} {{ super() }}
<br />
<table>
  <tr>
    <th colspan="2">Текущие параметры</th>
  </tr>
  <tr>
    <td>Адрес сервера</td>
    <td>{{address}}</td>
  </tr>
  <tr>
    <td>Версия Zabbix</td>
    <td>{{version}}</td>
  </tr>
</table>

<br />
<br />
<table>
  <tr>
    <th colspan="2">Изменить параметры</th>
  </tr>
  {% for cat, msg in get_flashed_messages(True) %}
  <script type="text/javascript">
    function deletedItem(idItem) {
      document.getElementById(idItem).remove();
    }
  </script>

  <tr id="msg">
    <td colspan="2" id="msg">
      <div class="flash {{cat}}" id="msg">
        {{ msg }} <br /><button id="msg" onclick="deletedItem('msg');">
          X
        </button>
      </div>
    </td>
  </tr>
  {% endfor %}
  <form
    action="{{url_for('mgmt_zabbix_params')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <tr>
      <td>Адрес сервера</td>
      <td><input type="text" name="address" /></td>
    </tr>
    <tr>
      <td>Версия Zabbix</td>
      <td><input type="text" name="version" /></td>
    </tr>
    <tr>
      <th colspan="2">
        <input type="submit" name="submit" value="Изменить" />
      </th>
    </tr>
  </form>
</table>
<br />
<br />
<table>
  <tr>
    <form
      action="{{url_for('mgmt_zabbix_params')}}"
      method="GET"
      enctype="multipart/form-data"
    >
      <th>
        Текущие шаблоны

        <input type="submit" name="submit" value="Обновить" />
      </th>
    </form>
  </tr>
  {% if not templates%}
  <td>Шаблоны отсутствуют</td>
  {% else %} {% for template in templates %}
  <td>{{template}}</td>
  {% endfor%} {% endif %}
</table>
{% endblock %}
