{% extends 'management.html' %} {% block content %} {{ super() }}
<br />
<table>
  <tr>
    <th>Адресат</th>
    <th>Тип уведомления</th>
    <th>Действие</th>
  </tr>
  {% for cat, msg in get_flashed_messages(True) %}

  <tr id="msg">
    <td colspan="3" id="msg">
      <div class="flash {{cat}}" id="msg">
        {{ msg }} <br /><button id="msg" onclick="deletedItem('msg');">
          X
        </button>
      </div>
    </td>
  </tr>
  {% endfor %} {% for recipient in recipients %}
  <form
    action="{{url_for('mgmt_notifications')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <tr>
      <td>{{recipient[1]}}</td>
      <td>{{recipient[2]}}</td>
      <td><input type="submit" name="submit" value="Удалить" /></td>
      <input type="hidden" name="operation" value="delete" />
      <input type="hidden" name="recipient" value="{{recipient[1]}}" />
    </tr>
  </form>
  {% endfor %}

  <form
    action="{{url_for('mgmt_notifications')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <tr>
      <td><input type="text" name="recipient" /></td>
      <td>
        <select name="type">
          <option value="Email">Email</option>
          <option value="Telegram">Telegram</option>
        </select>
      </td>
      <td><input type="submit" name="submit" value="Добавить" /></td>

      <input type="hidden" name="operation" value="add" />
    </tr>
  </form>
  {% endblock %}
</table>
