{% extends 'management.html' %} {% block content %} {{ super() }} <br />
<table>
  <tr>
    <th>Операция</th>
    <th>Назначение</th>
    <th>Действие</th>
    <th></th>
  </tr>
  {% for cat, msg in get_flashed_messages(True) %}

  <tr id="msg">
    <td colspan="4" id="msg">
      <div class="flash {{cat}}" id="msg">
        {{ msg }} <br /><button id="msg" onclick="deletedItem('msg');">
          X
        </button>
      </div>
    </td>
  </tr>
  {% endfor %}

  <form
    action="{{url_for('mgmt_operations')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <tr>
      <td>Локальная актуализация</td>
      <td>
        Запуск актуализации локальных данных без обновления данных в Zabbix
      </td>
      <td>
        <input
          type="submit"
          name="submit"
          value="Выполнить"
          onclick="show_spinner1();"
        />
      </td>
      <td>
        <span class="loader" id="spinner1"></span>
        <script>
          if (flag1) {
            document.getElementById("spinner1").style.visibility = "hidden";
          }
        </script>
      </td>
      <input type="hidden" name="operation" value="update_local_data" />
    </tr>
  </form>
  <form
    action="{{url_for('mgmt_operations')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <tr>
      <td>Полная актуализация</td>
      <td>Запуск актуализации локальных данных и данных в Zabbix</td>
      <td>
        <input
          type="submit"
          name="submit"
          value="Выполнить"
          onclick="show_spinner2();"
          id="input2"
        />
      </td>
      <td>
        <span class="loader" id="spinner2"></span>
        <script>
          if (flag2) {
            document.getElementById("spinner2").style.visibility = "hidden";
          }
        </script>
      </td>
      <input type="hidden" name="operation" value="main" />
    </tr>
  </form>
  <form
    action="{{url_for('mgmt_operations')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <tr>
      <td>Удаление хостов</td>
      <td>Удаление всех хостов из Zabbix сервера</td>
      <td>
        <input
          type="submit"
          name="submit"
          value="Выполнить"
          disabled="yes"
          onclick="show_spinner3();"
        />
      </td>
      <td>
        <span class="loader" id="spinner3"></span>
        <script>
          if (flag3) {
            document.getElementById("spinner3").style.visibility = "hidden";
          }
        </script>
      </td>
      <input type="hidden" name="operation" value="delete_zabbix_hosts" />
    </tr>
  </form>
</table>
{% endblock %}
