{% extends 'management.html' %} {% block content %} {{ super() }}
<br />
<table>
  <tr>
    <th colspan="2">Текущие параметры</th>
  </tr>
  <tr>
    <td>Адрес сервера</td>
    <td>ЗначениеЗначениеЗначениеЗначение</td>
  </tr>
  <tr>
    <td>Версия Zabbix</td>
    <td>Значение</td>
  </tr>
  <tr>
    <td>Пользователь</td>
    <td>Значение</td>
  </tr>
  <tr>
    <td>Пароль</td>
    <td>Значение</td>
  </tr>
</table>
<br />
<table>
  <tr>
    <th colspan="2">Изменить параметры</th>
  </tr>
  <tr>
    <td>Адрес сервера</td>
    <td>ЗначениеЗначениеЗначениеЗначение</td>
  </tr>
  <tr>
    <td>Версия Zabbix</td>
    <td>Значение</td>
  </tr>
  <tr>
    <td>Пользователь</td>
    <td>Значение</td>
  </tr>
  <tr>
    <td>Пароль</td>
    <td>Значение</td>
  </tr>
  <tr>
    <th colspan="2">Кнопка изменить</th>
  </tr>
</table>
{% endblock %}
