{% extends 'base.html' %} {% block content %} {{ super() }}

<table>
  <tr>
    <th colspan="2">Текущие параметры</th>
  </tr>
  <tr>
    <td>Адрес RADIUS сервера</td>
    <td>{{ address }}</td>
  </tr>
</table>
<br />
<br />
<table>
  <tr>
    <th>Операция</th>
    <th>Описание</th>
    <th>Действие</th>
    <th></th>
  </tr>
  {% for cat, msg in get_flashed_messages(True) %}

  <tr id="msg">
    <td colspan="4" id="msg">
      <div class="flash {{cat}}" id="msg">
        {{ msg }} <br /><button id="msg" onclick="deletedItem('msg');">
          X
        </button>
      </div>
    </td>
  </tr>
  {% endfor %}

  <form
    action="{{url_for('radius')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <tr>
      <td>Актуализация</td>
      <td>Запуск актуализации клиентов на RADIUS сервере</td>
      <td>
        <input
          type="submit"
          name="submit"
          value="Выполнить"
          onclick="show_spinner('spinner1');"
        />
      </td>
      <td>
        <span class="loader" id="spinner1"></span>
        <script>
          if (flag1) {
            document.getElementById("spinner1").style.visibility = "hidden";
          }
        </script>
      </td>
      <input type="hidden" name="operation" value="actualize" />
    </tr>
  </form>
  <form
    action="{{url_for('radius')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <tr>
      <td>Экспорт</td>
      <td>Выгрузить существующих клиентов в формате .xlsx</td>
      <td>
        <input
          type="submit"
          name="submit"
          value="Выполнить"
          id="input2"
          onclick="show_spinner('spinner2');"
          target="downloadIframe"
        />
      </td>
      <td>
        <span class="loader" id="spinner2"></span>
        <script>
          if (flag2) {
            document.getElementById("spinner2").style.visibility = "hidden";
          }
        </script>
      </td>
      <input type="hidden" name="operation" value="export" />
    </tr>
  </form>
  <form
    action="{{url_for('radius')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <tr>
      <td>Отображение</td>
      <td>Показать существующих клиентов</td>
      <td>
        <input
          type="submit"
          name="submit"
          value="Выполнить"
          onclick="show_spinner('spinner3');"
        />
      </td>
      <td>
        <span class="loader" id="spinner3"></span>
        <script>
          if (flag3) {
            document.getElementById("spinner3").style.visibility = "hidden";
          }
        </script>
      </td>
      <input type="hidden" name="operation" value="show" />
    </tr>
  </form>
</table>

{% if clients %}
<br />
<br />
<table class="users">
  <tr>
    <th>Имя</th>
    <th>Адрес</th>
  </tr>
  {% for client in clients %}
  <tr>
    <td>{{client['Name']}}</td>
    <td>{{client['Address']}}</td>
  </tr>

  {% endfor %} {% endif %} {% endblock %}
</table>
