{% extends 'base.html' %} {% block content %} {{ super() }}

<table class="users">
  <tr>
    <th>Пользователь</th>
    <th>Аутентификация</th>
    <th>Действие</th>
  </tr>
  {% for user in users %}
  <form
    action="{{url_for('users')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <tr>
      <td>{{user[1]}}</td>
      <td>{{user[3]}}</td>
      {% if user[1] == 'admin' or user[1] == login%}
      <td>
        <input type="submit" name="submit" value="Удалить" disabled="yes" />
      </td>
      {% else %}
      <td><input type="submit" name="submit" value="Удалить" /></td>
      {% endif %}
      <input type="hidden" name="operation" value="delete" />
      <input type="hidden" name="login" value="{{user[1]}}" />
    </tr>
  </form>
  {% endfor %}
  <form
    action="{{url_for('users')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <tr>
      <td><input type="text" name="login" /></td>
      <td>LDAP</td>
      <td><input type="submit" name="submit" value="Добавить" /></td>
      <input type="hidden" name="operation" value="add" />
    </tr>
  </form>
</table>
<br />
{% for cat, msg in get_flashed_messages(True) %}
<table id="msg">
  <tr id="msg">
    <td colspan="3" id="msg">
      <script type="text/javascript">
        function deletedItem(idItem) {
          document.getElementById(idItem).remove();
        }
      </script>
      <div class="flash {{cat}}" id="msg">
        {{ msg }} <br /><button id="msg" onclick="deletedItem('msg');">
          X
        </button>
      </div>
    </td>
  </tr>
</table>
{% endfor %}
<br />
<table class="users">
  <tr>
    <th colspan="4">Изменение пароля</th>
  </tr>
  <tr>
    <th>Пользователь</th>
    <th>Новый пароль</th>
    <th>Повторите пароль</th>
    <th>Действие</th>
  </tr>
  <form
    action="{{url_for('users')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <tr>
      <td><input type="text" name="login" /></td>
      <td><input type="password" name="password1" /></td>
      <td><input type="password" name="password2" /></td>
      <td><input type="submit" name="submit" value="Изменить" /></td>
      <input type="hidden" name="operation" value="change" />
    </tr>
  </form>
</table>
{% endblock %}
